.reagic-generic {
    margin-bottom: 24px;
    font-family: Arial;
}

.reagic-generic label {
    display: block;
    line-height: 16px;
    margin-bottom: 8px;
}

.reagic-generic input {
    padding: 4px;
}

.reagic-generic__validity-indicator {
    text-transform: uppercase;
    font-size: 10px;
    padding: 3px;
    margin-left: 8px;
    border-radius: 3px;
    font-weight: bold;
    vertical-align: top;
    opacity: .6;
}
.reagic-generic__validity-indicator--valid {
    background: green;
    color: hsl(120, 100%, 98%);
}
.reagic-generic__validity-indicator--invalid {
    background: red;
    color: hsl(0, 100%, 98%);
}
